<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-links">
                <h5>Información</h5>
                <ul>
                    <li><a>Historia</a></li>
                    <li><a>Países</a></li>
                    <li><a>Contratamos</a></li>
                    <li><a>Blog</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-links">
                <h5>Novedades</h5>
                <ul>
                    <li><a>Marketing</a></li>
                    <li><a>Estadísticas</a></li>
                    <li><a>Chat en vivo</a></li>
                    <li><a>Soporte ilimitado</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-links">
                <h5>Recursos</h5>
                <ul>
                    <li><a>IOS & Android</a></li>
                    <li><a>Probar una Demo</a></li>
                    <li><a>Clientes</a></li>
                    <li><a>API</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-contact">
                <h5>Contáctanos</h5>
                <p><i class="bi bi-telephone-fill letter-rose"></i> (480) 555-0103</p>
                <p><i class="bi bi-geo-alt-fill letter-rose"></i> Kentucky 3949S</p>
                <p><i class="bi bi-envelope-fill letter-rose"></i> magicshop</p>
            </div>
        </div>
        <div class="row footer-bottom mt-4">
            <div class="col-md-6 text-md-start text-center">
                <p>&copy; {{currentYear}} Todos los derechos reservados por Magic Shop</p>
            </div>
            <div class="col-md-6 text-md-end text-center social-icons">
                <a><i class="bi bi-facebook"></i></a>
                <a><i class="bi bi-instagram"></i></a>
                <a><i class="bi bi-twitter"></i></a>
            </div>
        </div>
    </div>
</footer>