<div>
    <!-- Carousel -->
    <ngb-carousel [interval]="carouselConfig.interval" [keyboard]="carouselConfig.keyboard"
        [pauseOnHover]="carouselConfig.pauseOnHover">
        <ng-template ngbSlide *ngFor="let img of carouselImages">
            <div class="carousel-image-container">
                <img [src]="img.src" [alt]="img.alt" class="d-block w-100">
            </div>
        </ng-template>
    </ngb-carousel>


    <!-- Seleccion del Editor -->
    <section class="container my-5 section-editor">
        <h2 class="text-center fw-bold">SELECCIÓN DEL EDITOR</h2>
        <p class="text-center text-muted mb-4">Productos de calidad</p>

        <div class="row g-4">
            <div class="col-12 col-md-6">
                <div class="card h-100 text-center">
                    <img src="https://cdn-contents.weverseshop.io/public/shop/6a283953d3f3f3d5c308c30c5e967a73.jpg?w=320&q=95"
                        class="card-img-top" alt="T-shirt BTS">
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="card h-100 text-center">
                    <img src="https://cdn-contents.weverseshop.io/public/shop/c1a2d4dcbee5d141b3b583974e9c3dba.jpg?w=320&q=95"
                        class="card-img-top" alt="Light Stick">
                </div>
            </div>

            <div class="col-12 col-md-3 d-flex flex-column justify-content-between">
                <div class="card text-center small-card mb-1">
                    <img src="https://cdn-contents.weverseshop.io/public/shop/507e3d0f1c43df79d1da273648e05645.png?w=320&q=95"
                        class="card-img-top" alt="BTS Album">
                </div>
                <div class="card text-center small-card">
                    <img src="https://cdn-contents.weverseshop.io/public/shop/54260d7d0b23c3745adf17f3c6beb854.jpg?w=320&q=95"
                        class="card-img-top" alt="House Card BTS">
                </div>
            </div>
        </div>
    </section>

    <!-- Categorias -->
    <section class="section-product">
        <div class="container my-5">
            <h4 class="fw-bold">Categorías</h4>

            <div class="d-flex overflow-auto gap-3 py-3">
                <div class="flex-shrink-0 text-center" *ngFor="let cat of categorias">
                    <a [routerLink]="['/shop']" [queryParams]="{categoriaId: cat.id}" class="text-decoration-none">
                        <div class="position-relative">
                            <img [src]="cat.imagen" class="img-fluid rounded" [alt]="cat.nombre"
                                style="width: 200px; height: 200px; object-fit: cover;">
                            <span
                                class="position-absolute top-50 start-50 translate-middle text-white fw-bold fs-5">{{cat.nombre}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Listado de productos -->
    <section class="container my-5 section-filter">
        <h4 class="fw-bold">Productos</h4>
        <div id="productos" class="row row-cols-2 row-cols-md-4 g-4 justify-content-center">
            <div class="col" *ngFor="let producto of productos">
                <div class="product-card text-center">
                    <img [src]="producto.imagen" class="img-fluid" [alt]="producto.nombre">
                    <p class="mt-2">{{producto.nombre}}</p>
                    <p><strong>${{producto.precio}}</strong></p>
                    <!-- <button class="btn btn-primary btn-sm" (click)="agregarAlCarrito(producto)">Añadir al
                        carrito</button> -->
                </div>
            </div>
        </div>
    </section>

    <!-- Destacados -->
    <section class="section-featured">
        <div id="destacados" class="container my-5">
            <h4 class="fw-bold">Destacados</h4>
            <hr>
            <div class="row row-cols-2 row-cols-md-4 g-4">
                <div class="col" *ngFor="let destacado of productosDestacados">
                    <div class="product-card text-center">
                        <img [src]="destacado.imagen" class="img-fluid" [alt]="destacado.nombre">
                        <p class="mt-2">{{destacado.nombre}}</p>
                        <p><del>${{destacado.precioOriginal}}</del> <strong>${{destacado.precio}}</strong></p>
                        <!-- <button class="btn btn-primary btn-sm">Añadir al
                            carrito</button> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Seccion de estadísticas -->
    <section class="section-stats">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="stat-item text-center p-5">
                        <div class="stat-number fw-bold">1M+</div>
                        <div class="stat-description fw-bold">Más de un millón de venta de productos</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat-item text-center p-5">
                        <div class="stat-number fw-bold">98%</div>
                        <div class="stat-description fw-bold">Garantizamos las entregas de los productos hasta su casa
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat-item text-center p-5">
                        <div class="stat-number fw-bold">4.9</div>
                        <div class="stat-description fw-bold">Ofrecemos productos y servicios de calidad</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
</div>